<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>About</title>
</head>
<body>
    <h1 id = "nav_bar">About</h1>
    <div id="personName">
        <img src="/img/patent.jpg">
        <h1>Leo Fender</h1>
      </div> 
    <div id="paragraph">
        <p> Clarence Leonidas Fender (August 10, 1909 – March 21, 1991) was an American inventor known for designing the Fender Stratocaster. He also founded the Fender Musical Instruments Corporation.[1] In January 1965, he sold Fender to CBS, and later founded two other musical instrument companies, Music Man and G&L Musical Instruments.
   
           The guitars, basses, and amplifiers he designed from the 1940s on are still widely used: the Fender Telecaster (1950) was the first mass-produced solid-body electric guitar; the Fender Stratocaster (1954) is among the most iconic electric guitars; the Fender Precision Bass (1951) set the standard for electric basses, and the Fender Bassman amplifier, popular in its own right, became the basis for later amplifiers (notably by Marshall and Mesa Boogie) that dominated rock and roll music.
           
           Leo Fender was inducted into the Rock and Roll Hall of Fame in 1992. His instruments were played by many Rock and Roll Hall of Fame inductees such as Jimi Hendrix, Eric Clapton and Stevie Ray Vaughan. Fender never learned to play the instruments.</p>
      </div>
      <div id="bottom_nav">
            <a id="small_button" href="/">Home</a>
            <a id="small_button" href="/works">Works</a>
      </div>
</body>
</html>