<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
    <title>Home Page</title>
</head>
<body id="main">
   <div id="nav">
    <a id="button" href="/about">About</a>
    <a id="button" href="/works">Works</a>
   </div>
</body>
</html>