<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Works</title>
</head>
<body>
    <div>
        <h1 id = "nav_bar">Works</h1>
    </div>
    <div class ="works">
        <img class ="fender" src="/img/Fender_logo.png">
        <img class ="music_man" src="/img/musicman.png">
        <img class ="gL" src="/img/gandl.png">
    </div>
    <div id="bottom_nav">
        <a id="small_button" href="/">Home</a>
        <a id="small_button" href="/about">About</a>
    </div>
</body>
</html>